<ion-header translucent>
  <ion-toolbar>
    <ion-title> Zaproszenie </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div id="container">
    <ion-button class="new-invitation-button" color="primary" (click)="goToNewInvitation()">
      <ion-icon slot="start" name="add-outline"></ion-icon>
        Nowe zaproszenie
    </ion-button>
    <app-desktop-list *ngIf="!(isMobile$ | async)" [invitations]="invitationsList"></app-desktop-list>
    <app-mobile-list *ngIf="isMobile$ | async" [invitations]="invitationsList"></app-mobile-list>
  </div>
</ion-content>
